body{
    background-color: lightgray;
}

h1 {
    text-align: center;
    background-color: #363636;
    color: white;
    padding: 30px;
    margin:auto;
    width: auto;
    border-radius: 10px 10px 0 0;
}

.sadrzaj{
    padding-top: 40px;
    display: grid;
    width: 70%;
    height: auto;
    margin: auto;
    grid-gap: 20px;
    grid-template-areas: 
    'label input'
    'label input'
    'label input'
    'label input'
    ;
    grid-template-columns: 20%;
}

.vanjski{
    background-color: #fdbf02;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

button{
    background-color: #363636;
    color: white;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color: #363636;
}

.content{
    width: 70%;
    margin: auto;
}

.sadrzaj > input{
    border-radius: 10px;
}

.sadrzaj > label{
    text-align: center;
    background-color: #363636;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.sadrzaj > label:hover{
    background-color: white;
    color: #363636;
}

#ajaxstatus{
    padding: 5px;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}