
h2{
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    padding: 1em 0 1em 0;
}

div{
    margin-top: 20px;
    background-color: #fdbf02;
    width: 69%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid lightgrey;
    margin-top: 50px;
}

.forma{
    margin: auto;
    width: 100%;
    
    grid-gap: 2px;
    display: grid;
    grid-template-areas: 
    'label url'
    'label god'
    'label branch'
    'button button';
    grid-template-rows: 23% 23% 23% 23%;
    grid-template-columns: 30%;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 700px) {
    .forma{
        height: 60vh;
        grid-template-areas: 
        'l1'
        'url'
        'l2'
        'god'
        'l3'
        'branch'
        'button';
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}

input[type="button"]{
    background-color: #363636;
    color: white;
    font-size: medium;
    font-weight: bold;
}

input[type="button"]:hover{
    background-color: white;
    color: #363636;
}

#forma > input{
    border-radius: 10px;
}

#forma > label{
    text-align: left;
    font-weight: bold;
}

#forma > *{
    margin: 10px;
    margin-top: 20px;
}

#url{
    grid-area: url;
}

#god{
    grid-area: god;
}

#branch{
    grid-area: branch;
}

#button{
    grid-area: button;
}

