<!DOCTYPE html>
<html>

<head>
    <title>Moj Repozitorij</title>
    <link rel="stylesheet" type="text/css" href="mojRepozitorij.css">
</head>

<body>
    <h2>Pretražite vaš repozitori</h2>
    <form id="forma">
        <input id="url" type="text">
        <label for="url">URL repozitorija</label>
        <input id="god" type="text">
        <label for="god">Akademska godina</label>
        <input id="branch" type="text">
        <label for="branch">Imenovanje brancheva</label>
        <input id="button" type="button" value="Pošalji">
    </form>
</body>

</html>