<!DOCTYPE html>
<html>

<head>
    <title>Zadaci</title>
    <link rel="stylesheet" type="text/css" href="zadaci.css">
</head>

<body>
    <div>
        <h3>Odaberite vježbu</h3>
        <form id="f1" class="f1">
            <select id="vjezba" name="vjezba">
                <option value="V1">Vjezba 1</option>
                <option value="V2">Vjezba 2</option>
                <option value="V3">Vjezba 3</option>
                <option value="V4">Vjezba 4</option>
            </select>
            <label for="vjezba">Odabir vjezbe</label>
            <select id="zadatak" name="zadatak">
                <option value="Z1">Zadatak 1</option>
                <option value="Z2">Zadatak 2</option>
                <option value="Z3">Zadatak 3</option>
                <option value="Z4">Zadatak 4</option>
            </select>
            <label for="zadatak">Odabir zadatka</label>
            <select id="verzija" name="verzija">
                <option value="vv1">Verzija 1</option>
                <option value="vv2">Verzija 2</option>
                <option value="vv3">Verzija 3</option>
                <option value="vv4">Verzija 4</option>
            </select>
            <label for="verzija">Odabir verzije</label>
            <textarea id="komentar"></textarea>
            <label for="Komentar">Komentar</label>
            <input id="b1" type="button" value="Pošalji">
        </form>
    </div>
    <div>
        <h3>Dodajte rezultate</h3>
        <form id="f2" class="f2">
            <textarea id="error" type="dropdown"></textarea>
            <label for="error">Errors log</label>
            <input id="bzgr" type="checkbox">
            <label for="bzgr">Bez grešaka</label>
            <input id="b2" type="button" value="Dodaj rezultate testa">
        </form>
    </div>
</body>

</html>