<!DOCTYPE html>
<html>

<head>
    <title>Zadaci</title>
    <link rel="stylesheet" type="text/css" href="zadaci.css">
</head>

<body>
    <form>
        <select name="vjezba">
            <option value="V1">Vjezba 1</option>
            <option value="V2">Vjezba 2</option>
            <option value="V3">Vjezba 3</option>
            <option value="V4">Vjezba 4</option>
        </select>
        <label for="vjezba">Odabir vjezbe</label>
        <br>
        <select name="zadatak">
            <option value="Z1">Zadatak 1</option>
            <option value="Z2">Zadatak 2</option>
            <option value="Z3">Zadatak 3</option>
            <option value="Z4">Zadatak 4</option>
        </select>
        <label for="zadatak">Odabir zadatka</label>
        <br>
        <select name="verzija">
            <option value="vv1">Verzija 1</option>
            <option value="vv2">Verzija 2</option>
            <option value="vv3">Verzija 3</option>
            <option value="vv4">Verzija 4</option>
        </select>
        <label for="verzija">Odabir verzije</label>
        <br>
        <textarea id="komentar"></textarea>
        <label for="Komentar">Komentar</label>
        <br>
        <input type="button" value="Pošalji">
    </form>
    <br>
    <br>
    <br>
    <br>
    <form>
        <textarea id="error" type="dropdown"></textarea>
        <label for="error">Errors log</label>
        <br>
        <input id="bzgr" type="checkbox">
        <label for="bzgr">Bez grešaka</label>
        <br>
        <input type="button" value="Dodaj rezultate testa">
    </form>
</body>

</html>
