
body,html {
    margin: 0;
    padding: 0;
    background-color: purple;
}

#grupe{
    grid-area: grupe;
    background-color: #D72638;
    height: 100%;
   
}

#studenti{
    grid-area: studenti;
    background-color: #FFFFFF;
  
}

#studenti > *{
    margin: 20px;
}


#meni{
    grid-area: meni;
    background-color: #FF570A;
}

.menu-options{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.menu-options > a{
    margin: 1em;
}

.grid-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 1px;
    grid-template-areas: 
    'meni'
    'grupe'
    'studenti'
    ;
    grid-template-rows: 15% 60% 25%;
}

@media(max-width: 500px){
    .menu-options{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-options > a{
        margin: auto;
        width: 100%;
        display: block;
        text-align: center;
    }

    .grid-container{
        grid-template-areas: 
        'meni'
        'grupe'
        'studenti'
        ;
        grid-template-rows: 35% 35% 30%;
    }

    table td:nth-child(n+2), th:nth-child(n+2){
        display: none;
    }
}

@media(min-width: 800px){
    .grid-container{
        grid-template-areas: 
        'meni meni meni'
        'studenti studenti grupe';
        grid-template-rows: 15.6%;
        grid-template-columns: 30% 30% 40%;
    } 
}

#tabela-grupa td, th{
    border: 1px solid black;
}

#tabela-grupa{
    border: 1px solid black;
    text-align: center;
    border-spacing: 0;
    margin:  auto;
    margin-top: 15px
}

.grid-studenata{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    'div div div div';
}

.st-el{
    float: left;
    display: grid;
    width: 28%;
    grid-template-areas: 
    'div ime-prezime'
    'div index'
    'div postotak'
    'div neuradjeno';
    border: 1px solid black;
}

@media (max-width: 1600px) {
    .st-el{
        width: 45%;
    }
}

@media (max-width: 1400px) {
    .st-el{
        width: 90%;
    }
}

.st-el > *{
    margin: 8px;
}

.ime-prezime::before{
    grid-area: ime;
}

.index::before{
    grid-area: index;
}

.postotak::before{
    grid-area: postotak;
}

.neuradjeno::before{
    grid-area: neuradjeno;
}

