<!DOCTYPE html>
<html>

<head>
    <title>Nastavnik</title>
    <link rel="stylesheet" type="text/css" href="nastavnik.css">
</head>

<body class="grid-container">
    <div id="meni" class="menu-options">
        <div>
            <a href="#top">Grupe</a>
            <a href="vjezbe.html">Vjezbe</a>
        </div>
    </div>
    <div id="studenti" class="grid-studenata">
        <div>Ime i prezime:</div>
        <div>Index</div>
        <div>Postotak tačno urađenih zadataka</div>
        <div>Broj neurađenih vježbi</div>
    </div>
    <div id="grupe">
        <table id="tabela-grupa">
            <tr>
                <th>Grupe</th>
                <th>Broj studenta</th>
                <th>Termin</th>
            </tr>
            <tr>
                <td>Grupa 1</td>
                <td>15</td>
                <td>Srijeda 12:00</td>
            </tr>
            <tr>
                <td>Grupa 2</td>
                <td>15</td>
                <td>Srijeda 13:30</td>
            </tr>
        </table>
    </div>
</body>


</html>