<!DOCTYPE html>
<html>

<head>
    <title>Vjezbe</title>
    <link rel="stylesheet" type="text/css" href="vjezbe.css">
</head>

<body class="grid">
    <div id="meni" class="menu-options">
        <a href="#top">Grupe</a>
        <a href="vjezbe.html">Vjezbe</a>
    </div>

    <div id="odabirVjezbe">
        <div>
            <input id="v1" type="checkbox" class="otvaranje">
            <label for="v1">
                <h3>Vjezba 1</h3>
            </label>
            <div class="zadaci">
                <div>Zadatak 1</div>
                <div>Zadatak 2</div>
                <div>Zadatak 3</div>
                <div>Zadatak 4</div>
            </div>
        </div>
        <div>
            <input id="v2" type="checkbox" class="otvaranje">
            <label for="v2">
                <h3>Vjezba 2</h3>
            </label>
            <div class="zadaci">
                <div>Zadatak 1</div>
                <div>Zadatak 2</div>
                <div>Zadatak 3</div>
                <div>Zadatak 4</div>
            </div>
        </div>
        <div>
            <input id="v3" type="checkbox" class="otvaranje">
            <label for="v3">
                <h3>Vjezba 3</h3>
            </label>
            <div class="zadaci">
                <div>Zadatak 1</div>
                <div>Zadatak 2</div>
                <div>Zadatak 3</div>
                <div>Zadatak 4</div>
            </div>
        </div>
        <div>
            <input id="v4" type="checkbox" class="otvaranje">
            <label for="v4">
                <h3>Vjezba 4</h3>
            </label>
            <div class="zadaci">
                <div>Zadatak 1</div>
                <div>Zadatak 2</div>
                <div>Zadatak 3</div>
                <div>Zadatak 4</div>
            </div>
        </div>
        <div>
            <input id="v5" type="checkbox" class="otvaranje">
            <label for="v5">
                <h3>Vjezba 5</h3>
            </label>
            <div class="zadaci">
                <div>Zadatak 1</div>
                <div>Zadatak 2</div>
                <div>Zadatak 3</div>
                <div>Zadatak 4</div>
            </div>
        </div>


    </div>

    <div class="grafovi">
        <div id="graf1" class="graf">
            <h4>BROJ COMMITA</h4>
            <div><img src="maju.png" alt="nakav_graf"></div>
        </div>
        <div id="graf1" class="graf">
            <h4>BROJ COMMITA</h4>
            <div><img src="maju.png" alt="nakav_graf"></div>
        </div>
        <div id="graf1" class="graf">
            <h4>BROJ COMMITA</h4>
            <div><img src="maju.png" alt="nakav_graf"></div>
        </div>
        <div id="graf1" class="graf">
            <h4>BROJ COMMITA</h4>
            <div><img src="maju.png" alt="nakav_graf"></div>
        </div>
    </div>
</body>

</html>